<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>CMS</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo right">CMS</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/users">Użytkownicy</a></li>
            <li><a href="/posts">Posty</a></li>
          </ul>
        </div>
      </nav>