<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Blog</title>
</head>
<body class="container">
    <nav>
        <div class="nav-wrapper orange lighten-1" >
          <a href="/" class="brand-logo right">Blog</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Strona główna</a></li>
            <%if(session.logged){%>
              <li><a href="/newpost">Nowy post</a></li>
              <li><a href="/addadmin">Dodaj administratora</a></li>
              <li><a href="/delete">Usuń posta</a></li>
              <li><a href="/logout">Wyloguj</a></li>
            <%}else{%>
              <li><a href="/login">Zaloguj</a></li>
            <%}%>
          </ul>
        </div>
      </nav>